body {
  background-image: url(/images/background.jpg);
  background-size: cover; 
   -moz-background-size: 100%; 
   -webkit-background-size: 100%; 
   -o-background-size: 100%; 
  background-size: 100%; 
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  .loading {
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
    color: #ffffff;
  }
  .none {
    display: none !important;
  }
  img {
    width: 70%;
    height: 70%;
  }
  .none {
    display: none !important;
  }
  .score-panel {
    color:  #DEB887;
    list-style: none;
    margin: 30px auto;
    background-color: #8B4513;
    opacity: 0.8;
    width: 300px;
    height: 80px;
    border: 7px solid #DEB887;
    border-radius: 20px;
    padding-top: 20px;
    .score {
      display: inline-block;
      padding-right: 60px;
    }
    .bestScore {
      display: inline-block;
    }
  }
  .control-panel {
    display: inline-block;
    .button-new-game {
      margin: 20px 15px 0 0;
    }
    .button-table-results {
      margin: 20px 15px 0;
    }
    .form-inline {
      display: inline-block;
      .form-control {
        margin: 20px auto 0;
        width: 180px;
      }
      .button-save {
        margin-top: 20px;
	margin-left: 15px;
      }
    }
  }
}


